<!doctype html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="container">
    <div class="row bg-dark">
      <img src="images/logo.png" style="width:150px;" alt="aftergarden logo">
    </div>
    <div class="row">
      <div class="col-4">
        <img src="images/profile.jpg" alt="profile picture" class="profile_image">
        <h3 class="text-center"><%= params[0].client_username %></h3>
        <div class="list-group">
          <a href="/myportal" class="list-group-item list-group-item-action">My portal</a>
          <a href="/account" class="list-group-item list-group-item-action">Account Settings</a>
          <a href="/projects" class="list-group-item list-group-item-action active">My projects</a>
          <a href="#" class="list-group-item list-group-item-action">Social projects</a>
          <a href="#" class="list-group-item list-group-item-action">Log out</a>
        </div>
      </div>
      <!-- Project Colummn -->
      <div class="col-8 ">
        <div class="container-fluid bg-light portal-bg">
          <h1 class="text-center portal-title text-light">Welcome to your Portal</h1>
          <h3 class="text-center text-light">Administer and create your projects as well as see other projects</h3>
        </div>
        <h2>Projects</h2>  
        <hr style="margin-bottom:30px;">
        <div class="row justify-content-between">
            <% for (var i=0; i < info.length ; i++){%>    
              <div class="card" style="width: 15rem;margin-bottom:30px;">
                <img class="card-img-top" src="images/good-start.jpg" alt="Card image cap of <%= info[i].project_name%>">
                <div class="card-body">
                  <h5 class="card-title"><%= info[i].project_name%></h5>
                  <p class="card-text"><%= info[i].project_description%></p>
                  <a href="#" class="btn btn-dark">Visit now</a>
                  <span data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom" ><i class="fas fa-trash"></i></span>
                    
               

                  <i class="fas fa-thumbs-up" style="color:blue;"></i>
                </div>
              </div>
            <%}%>  
            <div class="card" style="width: 15rem;margin-bottom:30px;">
                <img class="card-img-top" src="images/placeholder.png" alt="Card image cap>">
                <div class="card-body">
                  <h5 class="card-title">Title</h5>
                  <p class="card-text">No description</p>
                  <a href="#" class="btn btn-danger">Add a project</a>
                </div>
              </div>
        </div>
            
        
      
        
            
        
      </div>
    </div>
  </div>





  <h1>Portal page</h1>






  <!-- Button trigger Create a project -->

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create_project">Create a
    project</button>
  <%- include('../partials/project-modal'); %>

  <!-- Button trigger Create a post -->

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create_post">Create a post</button>
  <%- include('../partials/post-modal'); %>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</body>
<footer>
  <%- include('../partials/footer'); %>
</footer>

</html>